<!DOCTYPE html>
<html ng-app="calculatorApp">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="script.css">
<script src="angular 1.6.4.min.js"></script>
<script src="index.js"></script>
<!--<script src="script.js"></script>-->

</head>

<body id="background" ng-controller="calculatorCtrl">
<div class="container" >
<!--<img src="image/calculator background.png">-->

<div class="display"><input type="text" value="{{ display }}" size="36" id="display" readonly></div>
<div class="keys">

<p>
<input type="button" class="button" value="mrc" ng-click='c("not defined")'>
<input type="button" class="button" value="+/-" ng-click='math("+/-")'>
<input type="button" class="button" value="%" ng-click='math("%")'>
<input type="button" class="button" value="&divide" ng-click='math("&divide")'>
</p>

<p>
<input type="button" class="button" value="7" ng-click='math("7")'>
<input type="button" class="button" value="8" ng-click='math("8")'>
<input type="button" class="button" value="9" ng-click='math("9")'>
<input type="button" class="button" value="*" ng-click='math("x")'>
</p>

<p>
<input type="button" class="button" value="4" ng-click='math("4")'>
<input type="button" class="button" value="5" ng-click='math("5")'>
<input type="button" class="button" value="6" ng-click='math("6")'>
<input type="button" class="button" value="-" ng-click='math("-")'>
</p>

<p>
<input type="button" class="button" value="1" ng-click='math("1")'>
<input type="button" class="button" value="2" ng-click='math("2")'>
<input type="button" class="button" value="3" ng-click='math("3")'>
<input type="button" class="button" value="+" ng-click='math("+")'>
</p>

<p>
<input type="button" class="button" value="0" ng-click='math("0")'>
<input type="button" class="button" value="." ng-click='math(".")'>
<input type="button" class="button" value="c" ng-click='c("")'>
<input type="button" class="button" value="=" ng-click='e()'>
</p>
</div>
</div>

</body>
</html>